---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  chartRef:
    kind: OCIRepository
    name: openebs
  interval: 1h
  values:
    preUpgradeHook:
      enabled: false
    localpv-provisioner:
      analytics:
        enabled: false
      localpv:
        enabled: false
      hostpathClass:
        enabled: false
    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: true
          keep: true
    zfs-localpv:
      enabled: false
    lvm-localpv:
      enabled: false
    mayastor:
      enabled: false
    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: true
      replicated:
        mayastor:
          enabled: false
    loki:
      enabled: false
    alloy:
      enabled: false
    minio:
      enabled: false