apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &release tandoorrecipes
spec:
  releaseName: *release
  chartRef:
    kind: OCIRepository
    name: tandoorrecipes
  interval: 30m
  values:
    controllers:
      web:
        containers:
          main:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.5.3
            env:
              DATABASE_URL: sqlite://localhost//opt/recipes/database/db.sqlite3 # db string compliant with custom parser used by tandoorrecipes
            envFrom:
              - secretRef:
                  name: tandoorrecipes-secret

    service:
      web:
        ports:
          http:
            port: 80

    route:
      web:
        hostnames:
          - "recipes.muellner.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: tandoorrecipes
        advancedMounts:
          web:
            main:
            - path: /opt/recipes/staticfiles
              subPath: staticfiles
            - path: /opt/recipes/mediafiles
              subPath: mediafiles
            - path: /opt/recipes/database
              subPath: database
