apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &release seerr
spec:
  releaseName: *release
  chartRef:
    kind: OCIRepository
    name: seerr
  interval: 30m
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/seerr-team/seerr
              tag: v3.0.1

    service:
      main:
        ports:
          http:
            port: 5055

    route:
      main:
        hostnames:
          - "seerr.muellner.dev"
          - "jellyseerr.muellner.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: seerr
        globalMounts:
        - path: /app/config