---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sabnzbd
spec:
  chartRef:
    kind: OCIRepository
    name: sabnzbd
  interval: 30m

  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5
            env:
              SABNZBD__PORT: &port 8080
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd.muellner.dev

    service:
      main:
        ports:
          http:
            port: *port

    route:
      main:
        hostnames:
          - "sabnzbd.muellner.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: sabnzbd-config
        globalMounts:
        - path: /config
      tmp:
        type: emptyDir
      downloads:
        existingClaim: lp-downloads
        globalMounts:
          - path: /data/media/downloads