---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  chartRef:
    kind: OCIRepository
    name: mosquitto
  interval: 30m
  values:
    controllers:
      mosquitto:
        containers:
          app:
            image:
              repository: eclipse-mosquitto
              tag: 2.0.22

    service:
      app:
        controller: mosquitto
        ports:
          http:
            port: 1883

    persistence:
      configuration-file:
        type: configMap
        name: mosquitto-conf
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
      password-file:
        type: secret
        name: mosquitto-passwd
        globalMounts:
          - path: /mosquitto/config/passwords.txt
            subPath: passwords.txt
      config:
        existingClaim: mosquitto-config
        globalMounts:
          - path: /mosquitto/data
            subPath: data
          - path: /mosquitto/log
            subPath: log