---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sabnzbd
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: sabnzbd
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: openebs
  interval: 10m
  path: ./kubernetes/apps/media/sabnzbd/app
  postBuild:
    substitute:
      APP: sabnzbd
      VOLSYNC_CLAIM: sabnzbd-config
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  targetNamespace: media
