apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &release sonarr
spec:
  releaseName: *release
  chartRef:
    kind: OCIRepository
    name: sonarr
  interval: 30m
  values:
    controllers:
      main:
        pod:
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 2000
            runAsNonRoot: true
            runAsUser: 2000
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/sonarr
              tag: 4.0.16
            env:
              TZ: Europe/Vienna
              SONARR__INSTANCE_NAME: Sonarr
              SONARR__PORT: &port 8989
              SONARR__APPLICATION_URL: &host "sonarr.muellner.dev"
              SONARR__LOG_LEVEL: info

    service:
      main:
        ports:
          http:
            port: *port

    route:
      main:
        hostnames:
          - *host
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: sonarr-config
        globalMounts:
        - path: /config
      downloads:
        existingClaim: lp-downloads
        globalMounts:
          - path: /data/media/downloads
      shows:
        existingClaim: pvc-shows
        globalMounts:
          - path: /data/media/shows
