---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zigbee2mqtt
spec:
  chartRef:
    kind: OCIRepository
    name: zigbee2mqtt
  interval: 30m
  values:
    controllers:
      main:
        type: statefulset
        containers:
          main:
            image:
              repository: koenkk/zigbee2mqtt
              tag: 2.7.2
            resources:
              requests:
                memory: 600Mi
                cpu: 200m
              limits:
                memory: 600Mi
                cpu: 200m
            env:
              # https://www.zigbee2mqtt.io/guide/configuration/#environment-variables
              ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: true
              ZIGBEE2MQTT_CONFIG_MQTT_SERVER: mqtt://mosquitto:1883
              ZIGBEE2MQTT_CONFIG_MQTT_USER: mqtt
              ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD: test
              ZIGBEE2MQTT_CONFIG_SERIAL_PORT: /host/dev/ttyUSB0
              ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: zstack # https://www.zigbee2mqtt.io/guide/adapters/zstack.html
              ZIGBEE2MQTT_CONFIG_FRONTEND_ENABLED: true
              ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED: true
            securityContext:
              privileged: true

    service:
      main:
        ports:
          http:
            port: 8080

    route:
      main:
        hostnames:
          - "zigbee2mqtt.muellner.dev"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: zigbee2mqtt-config
        globalMounts:
          - path: /app/data
      usb:
        type: hostPath
        hostPath: /dev/ttyUSB0
        globalMounts:
          - path: /host/dev/ttyUSB0
            readOnly: true
