---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: mosquitto
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: mosquitto
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: openebs
  interval: 10m
  path: ./kubernetes/apps/home-automation/mosquitto/app
  postBuild:
    substitute:
      APP: mosquitto
      VOLSYNC_CLAIM: mosquitto-config
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  targetNamespace: home-automation
