apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &release radarr
spec:
  releaseName: *release
  chartRef:
    kind: OCIRepository
    name: radarr
  interval: 30m
  values:
    controllers:
      main:
        pod:
          securityContext:
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 2000
            runAsNonRoot: true
            runAsUser: 2000
        containers:
          main:
            image:
              repository: ghcr.io/linuxserver/radarr
              tag: 6.0.4
            env:
              TZ: Europe/Vienna
              RADARR__INSTANCE_NAME: Radarr
              RADARR__PORT: &port 7878
              RADARR__APPLICATION_URL: &host "radarr.muellner.dev"
              RADARR__LOG_LEVEL: info

    service:
      main:
        ports:
          http:
            port: *port

    route:
      main:
        hostnames:
          - *host
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        existingClaim: radarr-config
        globalMounts:
          - path: /config
      downloads:
        existingClaim: lp-downloads
        globalMounts:
          - path: /data/media/downloads
      movies:
        existingClaim: pvc-movies
        globalMounts:
          - path: /data/media/movies