apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pvc.yaml
configMapGenerator:
- name: mosquitto-conf
  files:
  - ./config/mosquitto.conf
secretGenerator:
- name: mosquitto-passwd
  files:
  - ./config/passwords.txt
generatorOptions:
  disableNameSuffixHash: true
commonLabels:
  app.kubernetes.io/name: mosquitto
  app.kubernetes.io/instance: mosquitto