apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pvc.yaml
commonLabels:
  app.kubernetes.io/name: sabnzbd
  app.kubernetes.io/instance: sabnzbd