---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sonarr
  namespace: flux-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: sonarr
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: csi-driver-nfs
    - name: openebs
  interval: 10m
  path: ./kubernetes/apps/media/sonarr/app
  postBuild:
    substitute:
      APP: sonarr
      VOLSYNC_CLAIM: sonarr-config
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops
  wait: true
  targetNamespace: media
