---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./envoy.yaml
  - ./observability.yaml
  - ./grafanadashboard.yaml
