---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: system
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: reloader
  values:
    reloader:
      podMonitor:
        enabled: true

      reloadStrategy: annotations
